@import "../../utils/mixin.scss";

.btn-container {
    & > * {
        cursor: pointer;
        @include responsive(mobile-height) {
            font-size: 3rem;
        }
    }
}

.btn-container[disabled] {
    pointer-events: none;
    opacity: 0.7;
}
