.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // width: 70%;
    height: 50vh;
    // height: max-content;
    .image {
        // width: 60vw;
        height: inherit;

        // width: 60rem;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 8px;
    }
    .image-title {
        font-size: 2rem;
        letter-spacing: 0.5rem;
    }
}
