$media_queries: (
    "tablet": "(max-width: 950px)",
    "mini-tablet": "(max-width: 650px)",
    "tablet-height": "(max-height: 660px)",
    "mobile-height": "(max-height: 550px)",
    "mini-mobile-height": "(max-height: 425px)",
);

@mixin responsive($breakpoints) {
    $conditions: ();
    @each $breakpoint in $breakpoints {
        $conditions: append(
            $conditions,
            #{inspect(map-get($media_queries, $breakpoint))},
            comma
        );
    }

    @media #{$conditions} {
        @content;
    }
}
