@font-face {
    font-family: "KeroKero";
    src: local("KeroKero"),
        url("./assets/fonts/KeroKero.ttf") format("truetype");
}

html {
    color: #bcb7b795;
    color: rgba(51, 51, 51, 0.712);
}
